<%= simple_form_for @origin_destination_pair do |f| %>
	<%= f.input :origin_id, collection: @locations %>	
	<%= f.input :destination_id, collection: @locations %>	
	<br>
	<div class="form-actions">
		<%= f.button :submit, :class => "btn btn-primary" %>
	</div>
<% end %>